<div class="container  pl-auto center">
    <form>
        <fieldset>
            <legend>Creacion de modelo </legend>
            <div class="form-group">
                <label for="email">Ingrese el nombre de la imagen</label>
                <input type="text" class="form-control" id="email" placeholder="Nombre de la imagen"
                    [(ngModel)]="nombre_imagen" name="imagen">
            </div>

            <div class="form-group">
                <label for="contraseña">Ingrese la contraseña</label>
                <input type="text" class="form-control" id="designer" placeholder="Ingrese la url de la imagen"
                    [(ngModel)]="designer" name="designer">
            </div>

            <img *ngIf="designer!=''"src="{{designer}}" style="width: 100%; height: 350px;">

            <button class="btn btn-outline-secondary" (click)="CreateImage()">Crear modelo</button>
        </fieldset>
    </form>
</div>