<div class="container  pl-auto center">
    <form>
        <fieldset>
          <legend>Edicion de Perfil</legend>
          <div class="form-group">
            <label for="email">Ingrese Email o Usuario</label>
            <input type="text" class="form-control" id="email" placeholder="Ingresar su usuario" [(ngModel)]="data_user.nombre_usuario" name="email">
            <small id="emailHelp" class="form-text text-muted">Recuerde no darle su usuario a nadie</small>
            
          </div>
          <div class="form-group">
            <label for="contraseña">Ingrese la contraseña</label>
            <input type="password" class="form-control" id="contraseña" placeholder="Ingrese su contraseña" [(ngModel)]="password" name="password">
            <label >{{password}}</label>
          </div>

          <div class="form-group">
            <label for="nombre">Ingrese su nombre</label>
            <input type="text" class="form-control" id="nombre" placeholder="Ingrese su nombre" [(ngModel)]="data_user.nombre" name="nombre">
          </div>

          <div class="form-group">
            <label for="edad">Ingrese su edad</label>
            <input type="number"  min="0" step="1" class="form-control" id="edad" placeholder="Ingrese su edad" [(ngModel)]="data_user.edad" name="edad">
            
          </div>
          <div class="form-group">
            <label for="nombre">Ingrese su imagen de perfil</label>
            <input type="text" class="form-control" id="upload_imagen" placeholder="Ingrese url de la imagen" [(ngModel)]="data_user.imagen" name="imagen">
            <small id="uploadimagen" class="form-text text-muted">copie la url de la imagen que quiere como perfil</small>
          </div>

          
          <button  class="btn btn-outline-secondary" (click)="Update()">Actualizar Cuenta</button>
        </fieldset>
      </form>
</div>