<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" >ModalD</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarColor02">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" (click)="redirect('home')">Home<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="redirect('designer')">Crear Diseño</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Salir</a>
        </li>
      </ul>
    </div>
  </nav>
<app-view-profile [user]="data_user" [user_image]="getImage" [hidden]="!display_home"></app-view-profile>
<app-designer [hidden]="!display_designer"></app-designer>
