.position_card{
    width: 32%;
    left: calc(70% - 36px);
    margin-top: 0px;
    position: absolute;
    top: 18%;
}

.position_imagen{
    width: calc(67% + 10px);
    position: absolute;  
    height: 100%;
    background-color:#fff ;
}
.container_card{
    width: 35;
    border: 1px solid rgba(0,0,0,0.125);
   
}
.container{
    padding-bottom: 20px;
}

.card-body{
    padding: 1.95rem;
}

.div_header{
    background-color: #343a40;
    color: #fff;
    align-content: center;
    text-align: center;
    display: flex;
    padding: 0.5rem;
    width: 100%;

}