<!-- comienzo del listado de imagenes -->
<div class="jumbotron position_imagen" [hidden]="!change_display" >
  <h1 class="display-3">Diseños</h1>
  <div  class="container" *ngFor="let image of user_image;  let i = index">
    <div class="container_card ">
      <div class="class text-center">
        <div class="div_header ">
          <span style="line-height:normal; width: 100%; display: inline-block;">{{image.nombre_imagen}}</span>
        </div>
        <img  *ngIf="image.imagen==null" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22318%22%20height%3D%22180%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20318%20180%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_158bd1d28ef%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A16pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_158bd1d28ef%22%3E%3Crect%20width%3D%22318%22%20height%3D%22180%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22129.359375%22%20y%3D%2297.35%22%3EImage%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" 
        alt="card-img-top" style="width: 100%; height: 273px;" [id]="image.id_imagen" (click)="prueba(image.id_imagen)">
        <img  *ngIf="image.imagen!=null" src="{{image.designer}}" 
        alt="card-img-top" style="width: 100%; height: 273px;"  [id]="image.id_imagen" (click)="prueba(image.id_imagen)">
        <div class="card_body">
          <span style="width: 100%;line-height:44px; display: inline-block;">creado el dia {{image.tiempo | date: 'dd-MM-yyyy'}}</span>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- fin del listado de imagenes -->

<!-- comienzo de la muestra de los datos del usuario -->
<div class="card mb-3 position_card" [hidden]="!change_display">
  <h3 class="card-header">Perfil de Usuario</h3>
  <div class="card-body">
    <h5 class="card-title">Bienvenido</h5>
    <h6 class="card-subtitle text-muted">{{data_user.nombre_usuario}}</h6>
  </div>

  <img *ngIf="data_user.imagen==null" style="height: 200px; width: 100%; display: block;"
    src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22318%22%20height%3D%22180%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20318%20180%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_158bd1d28ef%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A16pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_158bd1d28ef%22%3E%3Crect%20width%3D%22318%22%20height%3D%22180%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22129.359375%22%20y%3D%2297.35%22%3EImage%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E"
    alt="Imagen de perfil">
  <img *ngIf="data_user.imagen!=null" style="height: 200px; width: 100%; display: block;" src="{{data_user.imagen}}"
    alt="imagen de perfil">

  <div class="card-body">
    <p class="card-text">Nombre: {{data_user.nombre}}</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Edad: {{data_user.edad}}</li>
  </ul>

  <div class="card-body">
    <a  (click)="editProfile(false)" class="card-link">Editar perfil</a>
  </div>

</div>

<!-- final de la muestra de usuario -->

<!--comienzo de edicion del perfil -->
<app-edit-profile [hidden]="change_dislay" (display)="editProfile($event)" [data_user]="data_user"></app-edit-profile>
<!-- final de edicion del perfil -->

