.center{
    margin-top: 14%;
    margin-left: calc(10% - 5px);
    border: 1px solid rgba(0,0,0,0.125);
    line-height: 2.5;

}   

// #snackbar {
//     visibility: hidden;
//     min-width: 250px;
//     margin-left: -125px;
//     background-color: #333;
//     color: #fff;
//     text-align: center;
//     border-radius: 2px;
//     padding: 16px;
//     position: fixed;
//     z-index: 1;
//     left: 50%;
//     bottom: 30px;
//     font-size: 17px;
//   }
  
//   #snackbar .show {
//     visibility: visible;
//     -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
//     animation: fadein 0.5s, fadeout 0.5s 2.5s;
//   }