<div class="container  pl-auto center ">
    <form>
        <fieldset>
          <legend>Login ModalD</legend>
          <div class="form-group">
            <label for="exampleInputEmail1">Ingrese Email o Usuario</label>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Ingresar Usuario o Email" [(ngModel)]="nombre_usuario" name="SAMUEL_CAREVERGA">
            <small id="emailHelp" class="form-text text-muted">Recuerde no darle su usuario a nadie</small>
            <!-- Recuerde no darle su usuario a nadie -->
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Contraseña</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Contraseña" [(ngModel)]="password" name="contraseña">
          </div>
          
          <button  type="button" class="btn btn-outline-primary" (click)="Conectarse()">Conectarse</button>
          <button  class="btn btn-outline-secondary" (click)="CreateUser()">Registrarse</button>
        </fieldset>
      </form>
</div>

<div id="snackbar" *ngIf="message!=''" (ngModelChange)="ErrorMessage()">{{message}}</div>